Repository UDT-Uplus-Dream-Team/UDT-be, pull requests merged in 2025-08, with the labels that each got.

#153 Feat/udt 206 플랫폼별 인기 큐레이션
  src/main/java/com/example/udtbe/domain/content/controller/ContentController.java
  src/main/java/com/example/udtbe/domain/content/controller/ContentControllerApiSpec.java
  src/main/java/com/example/udtbe/domain/content/dto/response/PopularContentByPlatformResponse.java
  src/main/java/com/example/udtbe/domain/content/repository/ContentRepositoryCustom.java
  src/main/java/com/example/udtbe/domain/content/repository/ContentRepositoryImpl.java
  src/main/java/com/example/udtbe/domain/content/service/ContentQuery.java
  src/main/java/com/example/udtbe/domain/content/service/ContentService.java
  src/main/java/com/example/udtbe/domain/content/util/ContentCacheManager.java
  src/main/java/com/example/udtbe/domain/content/util/InMemoryPopularContentByPlatformStore.java
  src/main/java/com/example/udtbe/domain/content/util/InMemoryPopularContentStore.java
  src/main/java/com/example/udtbe/domain/content/util/PopularContentByPlatformStore.java
Labels: ✨ Feature

#157 refactor/UDT-213-관리자-OTT-콘텐츠-상세-조회-Response-Spec-변경
  src/main/java/com/example/udtbe/domain/admin/dto/AdminContentMapper.java
  src/main/java/com/example/udtbe/domain/admin/dto/common/AdminCastDetailsDTO.java
  src/main/java/com/example/udtbe/domain/admin/dto/common/AdminDirectorDetailsDTO.java
  src/main/java/com/example/udtbe/domain/admin/dto/response/AdminContentGetDetailResponse.java
  src/main/java/com/example/udtbe/domain/content/repository/ContentRepositoryImpl.java
  src/test/java/com/example/udtbe/admin/service/AdminServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#160 feat/UDT-203-관리자-감독-검색-API
  src/main/java/com/example/udtbe/domain/admin/controller/AdminController.java
  src/main/java/com/example/udtbe/domain/admin/controller/AdminControllerApiSpec.java
  src/main/java/com/example/udtbe/domain/admin/dto/request/AdminDirectorsGetRequest.java
  src/main/java/com/example/udtbe/domain/admin/dto/response/AdminDirectorsGetResponse.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminQuery.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminService.java
  src/main/java/com/example/udtbe/domain/content/repository/DirectorQueryDSL.java
  src/main/java/com/example/udtbe/domain/content/repository/DirectorQueryDSLImpl.java
  src/main/java/com/example/udtbe/domain/content/repository/DirectorRepository.java
  src/main/resources/batch.sql
  src/test/java/com/example/udtbe/admin/controller/AdminControllerTest.java
  src/test/java/com/example/udtbe/content/repository/DirectorRepositoryTest.java
Labels: ✨ Feature, ✅ Test

#162 feat/UDT-205-관리자-콘텐츠-카테고리-지표-조회-API
  src/main/java/com/example/udtbe/domain/admin/controller/AdminController.java
  src/main/java/com/example/udtbe/domain/admin/controller/AdminControllerApiSpec.java
  src/main/java/com/example/udtbe/domain/admin/dto/common/CategoryMetricDTO.java
  src/main/java/com/example/udtbe/domain/admin/dto/response/AdminContentCategoryMetricResponse.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminQuery.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminService.java
  src/main/java/com/example/udtbe/domain/content/repository/ContentRepositoryCustom.java
  src/main/java/com/example/udtbe/domain/content/repository/ContentRepositoryImpl.java
  src/test/java/com/example/udtbe/admin/controller/AdminControllerTest.java
  src/test/java/com/example/udtbe/common/fixture/CategoryFixture.java
  src/test/java/com/example/udtbe/content/repository/ContentRepositoryTest.java
Labels: ✨ Feature, ✅ Test

#168 refactor/UDT-224-회원가입-플로우-변경
  src/main/java/com/example/udtbe/domain/survey/service/SurveyService.java
  src/test/java/com/example/udtbe/survey/controller/SurveyControllerTest.java
  src/test/java/com/example/udtbe/survey/service/SurveyServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#171 refactor/UDT-228-감독-출연진-이름-조회-응답-DTO-필드명-변경
  src/main/java/com/example/udtbe/domain/admin/dto/response/AdminCastsGetResponse.java
  src/main/java/com/example/udtbe/domain/admin/dto/response/AdminDirectorsGetResponse.java
  src/test/java/com/example/udtbe/admin/controller/AdminControllerTest.java
  src/test/java/com/example/udtbe/content/repository/CastRepositoryTest.java
  src/test/java/com/example/udtbe/content/repository/DirectorRepositoryTest.java
Labels: 🔨 Refactor, ✅ Test

#185 Feat/udt 223 콘텐츠 등록 수정 삭제 배치 삭제
  src/main/java/com/example/udtbe/domain/admin/controller/AdminController.java
  src/main/java/com/example/udtbe/domain/admin/controller/AdminControllerApiSpec.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminQuery.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminService.java
  src/main/java/com/example/udtbe/domain/batch/config/BatchConfig.java
  src/main/java/com/example/udtbe/domain/batch/exception/BatchErrorCode.java
  src/main/java/com/example/udtbe/domain/batch/listener/BatchJobCompleteListener.java
  src/main/java/com/example/udtbe/domain/batch/listener/JobCompletionListener.java
  src/main/java/com/example/udtbe/domain/batch/repository/AdminContentDeleteJobRepository.java
  src/main/java/com/example/udtbe/domain/batch/repository/AdminContentRegisterJobRepository.java
  src/main/java/com/example/udtbe/domain/batch/repository/AdminContentUpdateJobRepository.java
  src/main/java/com/example/udtbe/domain/batch/util/BatchRetryProcessor.java
  src/main/java/com/example/udtbe/domain/content/service/LuceneIndexService.java
  src/main/java/com/example/udtbe/domain/content/service/LuceneSearchService.java
  src/test/java/com/example/udtbe/admin/service/AdminServiceTest.java
Labels: ✨ Feature, ✅ Test

#191 feat/UDT-258-백오피스-관리자-로그아웃
  src/main/java/com/example/udtbe/domain/admin/controller/AdminController.java
  src/main/java/com/example/udtbe/domain/admin/controller/AdminControllerApiSpec.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminAuthService.java
  src/main/java/com/example/udtbe/domain/auth/service/AuthQuery.java
  src/main/java/com/example/udtbe/global/token/filter/TokenAuthenticationFilter.java
  src/main/java/com/example/udtbe/global/token/service/TokenProvider.java
Labels: ✨ Feature

#190 Refactor/UDT-254-오타 수정-및-주석 삭제
  src/main/java/com/example/udtbe/domain/admin/controller/AdminController.java
  src/main/java/com/example/udtbe/domain/admin/controller/AdminControllerApiSpec.java
  src/main/java/com/example/udtbe/domain/admin/dto/request/AdminSigninRequest.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminAuthService.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminQuery.java
  src/main/java/com/example/udtbe/domain/admin/service/AdminService.java
  src/main/java/com/example/udtbe/domain/batch/listener/BatchSkipListener.java
  src/main/java/com/example/udtbe/domain/batch/listener/StepStatsListener.java
  src/main/java/com/example/udtbe/global/exception/CommonErrorCode.java
  src/main/java/com/example/udtbe/global/exception/GlobalExceptionHandler.java
  src/main/java/com/example/udtbe/global/security/handler/CustomAuthenticationEntryPoint.java
  src/main/java/com/example/udtbe/global/token/filter/TokenExceptionFilter.java
  src/main/java/com/example/udtbe/global/token/service/TokenProvider.java
  src/test/java/com/example/udtbe/admin/service/AdminServiceTest.java
  src/test/java/com/example/udtbe/common/fixture/ContentFixture.java
Labels: 🔨 Refactor
